* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    text-align: center;
    background-image: url("./background.jpg");
    background-repeat: repeat;
    background-size: 500px;
}

@font-face {
    font-family: ohshit;
    src: url(ohshit.TTF);
}

.header-area {
    font-family: ohshit;
    height: 50px;
    color: rgba(75, 9, 9, 0.815);
    text-shadow: 2px 2px white;
    min-width: 300px;
}

.positioning {
    position: relative;
}

.instructions {
    width: 90%;
    margin: auto;
}

.input-label {
    padding: 5px;
}


.submitbutton {
    margin-top: 10px;
}

input[type="submit"] {
    color: white;
    border: 1px solid rgb(0, 119, 255);
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: green;
}

@media only screen and (max-width: 699px) {
    .answer-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        background-color: rgb(110, 170, 185);
        padding: 10px;
        border-radius: 25px;
        border: 10px solid rgb(0, 119, 255);
        width: 90%;
        max-width: 390px;
        min-width: 250px;
        height: 190px;
        margin-left: auto;
        margin-right: auto;
    }
    .question-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        text-align: center;
        background-color: rgb(110, 170, 185);
        overflow: hidden;
        border-radius: 50%;
        width: 275px;
        height: 250px;
        border: 10px solid rgb(0, 119, 255);
    }
    .score-question-positioning {
        height: 50px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        color: rgba(75, 9, 9, 0.815);
        text-shadow: 2px 2px white;
        font-weight: bold;
    }
    .question {
        height: inherit;
        width: 100%;
    }
    .choice-area {
        width: 100%;
    }
    .scoring-question-count {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    } 
    .flusher {
        position: absolute;
        left: -5px;
        top: -5px;
        max-height:30%;
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
    }   
}
@media only screen and (min-width: 700px) {
    main {
        display: flex;
        align-items: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .scoring-question-count {
        display: flex;
        flex-direction: column;
    }
    .score-question-positioning {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        width: 110px;
        color: rgba(75, 9, 9, 0.815);
        text-shadow: 2px 2px white;
        font-weight: bold;
    }
    .answer-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 0;
        color: white;
        background-color: rgb(110, 170, 185);
        padding: 10px;
        border-radius: 25px;
        border: 10px solid rgb(0, 119, 255);
        margin-left: auto;
        margin-right: auto;
        width: 275px;
        height: 200px;
    }
    .question-area {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        background-color: rgb(110, 170, 185);
        overflow: hidden;
        border-radius: 50%;
        border: 10px solid rgb(0, 119, 255);
        width: 275px;
        height: 250px;
    }

    .question {
        height: inherit;
        width: 100%;
    }
    .flusher {
        position: absolute;
        left: -5%;
        top: -5%;
        max-height:30%;
        max-width: 30%;
    }
}
